* {
    margin: 0;
    padding: 0;
}

.main {
    margin: 100px auto;
    width: 1000px;
}

.main-top {
    margin-bottom: 40px;
}

.main-top-image {
    display: inline-block;
}

.main-top-image__photo {
    width: 330px;
    height: 350px;
    border-radius: 5px;
    background-color: #132d36;
    object-fit: cover;
}

.main-top-quote {
    float: right;
    margin: 51px 111px 0px 47px;
    display: inline-block;
}

.main-top-quote-quotes {
    margin-left: -63px;
}

.main-top-quote-quotes__img {
    width: 130px;
    height: 87px;
}

.main-top-quote__text {
    margin-right: -61px;
    margin-top: -23px;
    width: 500px;
    font-size: 28px;
    line-height: 42px;
    color: #848484;
    font-style: italic;
    font-family: "Georgia";
}

.main-top-quote__autor {
    margin-top: 1px;
    margin-left: 2px;
    font-size: 16px;
    line-height: 42px;
    color: #333333;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.main-bottom-list {
    display: inline-block;
}

.main-bottom-list__head {
    font-size: 24px;
    line-height: 32px;
    color: #15a98c;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.main-bottom-list__elements {
    margin-bottom: 42px;
    margin-left: 22px;
    margin-top: 13px;
    width: 330px;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: "Georgia";
}

.main-bottom-article {
    float: right;
    width: 605px;
    display: inline-block;
}

.main-bottom-article__name {
    font-weight: 700;
    font-size: 48px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans", sans-serif;
}

.main-bottom-article__rectangle {
    margin-top: 32px;
    margin-left: -5px;
    margin-bottom: 44px;
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background-color: #45c3aa;
}

.main-bottom-article__text {
    margin-left: -5px;
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia";
}

.main-bottom-article__hobby {
    margin-top: 42px;
    margin-left: -5px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans", sans-serif;
}

.main-bottom-article-write-me {
    margin-top: 41px;
    margin-left: -3px;
    line-height: 32px;
    color: #098d72;
    width: 562px;
    font-family: "Georgia";
}

.main-bottom-article-write-me__link {
    font-size: 19px;
    line-height: 32px;
    color: #098d72;
    width: 562px;
    font-family: "Georgia";
}